article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}
html {
    font-size: 100%;
}
a:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
a:hover, a:active {
    outline: 0 none;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
#map_canvas img {
    max-width: none;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    text-shadow: none;
}
body {
    background-color: #FFFFFF;
    color: #333333;
    font-size: 18px;
    line-height: 24.9231px;
    margin: 0;
}
a {
    color: #993333;
    text-decoration: none;
}
a:hover {
    color: #602020;
    text-decoration: underline;
}
.img-rounded {
    border-radius: 6px 6px 6px 6px;
}
.img-polaroid {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 4px;
}
.img-circle {
    border-radius: 500px 500px 500px 500px;
}
.row {
    margin-left: -20px;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
}
.container {
    width: 1060px;
}
.span12 {
    width: 1060px;
}
.span11 {
    width: 970px;
}
.span10 {
    width: 880px;
}
.span9 {
    width: 790px;
}
.span8 {
    width: 700px;
}
.span7 {
    width: 610px;
}
.span6 {
    width: 520px;
}
.span5 {
    width: 430px;
}
.span4 {
    width: 340px;
}
.span3 {
    width: 250px;
}
.span2 {
    width: 160px;
}
.span1 {
    width: 70px;
}
.offset12 {
    margin-left: 1100px;
}
.offset11 {
    margin-left: 1010px;
}
.offset10 {
    margin-left: 920px;
}
.offset9 {
    margin-left: 830px;
}
.offset8 {
    margin-left: 740px;
}
.offset7 {
    margin-left: 650px;
}
.offset6 {
    margin-left: 560px;
}
.offset5 {
    margin-left: 470px;
}
.offset4 {
    margin-left: 380px;
}
.offset3 {
    margin-left: 290px;
}
.offset2 {
    margin-left: 200px;
}
.offset1 {
    margin-left: 110px;
}
.row {
    margin-left: -20px;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
}
.container {
    width: 1060px;
}
.span12 {
    width: 1060px;
}
.span11 {
    width: 970px;
}
.span10 {
    width: 880px;
}
.span9 {
    width: 790px;
}
.span8 {
    width: 700px;
}
.span7 {
    width: 610px;
}
.span6 {
    width: 520px;
}
.span5 {
    width: 430px;
}
.span4 {
    width: 340px;
}
.span3 {
    width: 250px;
}
.span2 {
    width: 160px;
}
.span1 {
    width: 70px;
}
.offset12 {
    margin-left: 1100px;
}
.offset11 {
    margin-left: 1010px;
}
.offset10 {
    margin-left: 920px;
}
.offset9 {
    margin-left: 830px;
}
.offset8 {
    margin-left: 740px;
}
.offset7 {
    margin-left: 650px;
}
.offset6 {
    margin-left: 560px;
}
.offset5 {
    margin-left: 470px;
}
.offset4 {
    margin-left: 380px;
}
.offset3 {
    margin-left: 290px;
}
.offset2 {
    margin-left: 200px;
}
.offset1 {
    margin-left: 110px;
}
.hide[class*="span"] {
    display: none;
}
.pull-right[class*="span"] {
    float: right;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.container:before, .container:after {
    content: "";
    display: table;
    line-height: 0;
}
.container:after {
    clear: both;
}
.container:before, .container:after {
    content: "";
    display: table;
    line-height: 0;
}
.container:after {
    clear: both;
}
.container:before, .container:after {
    content: "";
    display: table;
    line-height: 0;
}
.container:after {
    clear: both;
}
.container:before, .container:after {
    content: "";
    display: table;
    line-height: 0;
}
.container:after {
    clear: both;
}
p {
    margin: 0 0 12.4615px;
}
.lead {
    font-size: 20px;
    font-weight: 200;
    line-height: 37.3846px;
    margin-bottom: 24.9231px;
}
small {
    font-size: 85%;
}
strong {
    font-weight: bold;
}
em {
    font-style: italic;
}
cite {
    font-style: normal;
}
.muted {
    color: #999999;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: bold;
    line-height: 1;
    margin: 12.4615px 0;
    text-rendering: optimizelegibility;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999999;
    font-weight: normal;
    line-height: 1;
}
h1 {
    font-size: 36px;
    line-height: 40px;
}
h2 {
    font-size: 30px;
    line-height: 40px;
}
h3 {
    font-size: 24px;
    line-height: 40px;
}
h4 {
    font-size: 18px;
    line-height: 20px;
}
h5 {
    font-size: 14px;
    line-height: 20px;
}
h6 {
    font-size: 12px;
    line-height: 20px;
}
h1 small {
    font-size: 24px;
}
h2 small {
    font-size: 18px;
}
h3 small {
    font-size: 14px;
}
h4 small {
    font-size: 14px;
}
.page-header {
    border-bottom: 1px solid #EEEEEE;
    margin: 24.9231px 0 37.3846px;
    padding-bottom: 11.4615px;
}
ul, ol {
    margin: 0 0 12.4615px 25px;
    padding: 0;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
li {
    line-height: 24.9231px;
}
ul.unstyled, ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}
dl {
    margin-bottom: 24.9231px;
}
dt, dd {
    line-height: 24.9231px;
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 12.4615px;
}
.dl-horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
}
.dl-horizontal dd {
    margin-left: 130px;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 24.9231px 0;
}
abbr[title] {
    border-bottom: 1px dotted #999999;
    cursor: help;
}
abbr.initialism {
    font-size: 90%;
    text-transform: uppercase;
}
blockquote {
    border-left: 5px solid #EEEEEE;
    margin: 0 0 24.9231px;
    padding: 0 0 0 15px;
}
blockquote p {
    font-size: 16px;
    font-weight: 300;
    line-height: 31.1538px;
    margin-bottom: 0;
}
blockquote small {
    color: #999999;
    display: block;
    line-height: 24.9231px;
}
blockquote small:before {
    content: "— ";
}
blockquote.pull-right {
    border-left: 0 none;
    border-right: 5px solid #EEEEEE;
    float: right;
    padding-left: 0;
    padding-right: 15px;
}
blockquote.pull-right p, blockquote.pull-right small {
    text-align: right;
}
blockquote.pull-right small:before {
    content: "";
}
blockquote.pull-right small:after {
    content: " —";
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}
address {
    display: block;
    font-style: normal;
    line-height: 24.9231px;
    margin-bottom: 24.9231px;
}
code, pre {
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    font-size: 16px;
    padding: 0 3px 2px;
}
code {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #DD1144;
    padding: 2px 4px;
}
pre {
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    display: block;
    font-size: 17px;
    line-height: 24.9231px;
    margin: 0 0 12.4615px;
    padding: 11.9615px;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
pre.prettyprint {
    margin-bottom: 24.9231px;
}
pre code {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: inherit;
    padding: 0;
}
.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
form {
    margin: 0 0 24.9231px;
}
fieldset {
    border: 0 none;
    margin: 0;
    padding: 0;
}
legend {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #333333;
    display: block;
    font-size: 27px;
    line-height: 49.8462px;
    margin-bottom: 24.9231px;
    padding: 0;
    width: 100%;
}
legend small {
    color: #999999;
    font-size: 18.6923px;
}
label {
    font-size: 18px;
    font-weight: normal;
    line-height: 24.9231px;
}
label {
    display: block;
    margin-bottom: 5px;
}
.form-actions {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: 24.9231px;
    margin-top: 24.9231px;
    padding: 23.9231px 20px 24.9231px;
}
.form-actions:before, .form-actions:after {
    content: "";
    display: table;
    line-height: 0;
}
.form-actions:after {
    clear: both;
}
.form-actions:before, .form-actions:after {
    content: "";
    display: table;
    line-height: 0;
}
.form-actions:after {
    clear: both;
}
.help-block, .help-inline {
    color: #595959;
}
.help-block {
    display: block;
    margin-bottom: 12.4615px;
}
.help-inline {
    display: inline-block;
    padding-left: 5px;
    vertical-align: middle;
}
.form-search input, .form-inline input, .form-horizontal input, .form-search textarea, .form-inline textarea, .form-horizontal textarea, .form-search select, .form-inline select, .form-horizontal select, .form-search .help-inline, .form-inline .help-inline, .form-horizontal .help-inline, .form-search .uneditable-input, .form-inline .uneditable-input, .form-horizontal .uneditable-input, .form-search .input-prepend, .form-inline .input-prepend, .form-horizontal .input-prepend, .form-search .input-append, .form-inline .input-append, .form-horizontal .input-append {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-search .hide, .form-inline .hide, .form-horizontal .hide {
    display: none;
}
.form-search label, .form-inline label {
    display: inline-block;
}
.form-horizontal .help-block {
    margin-bottom: 0;
    margin-top: 12.4615px;
}
.form-horizontal .form-actions {
    padding-left: 160px;
}
table {
    background-color: rgba(0, 0, 0, 0);
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}
.table {
    margin-bottom: 24.9231px;
    width: 100%;
}
.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height: 24.9231px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.table th {
    font-weight: bold;
}
.table thead th {
    vertical-align: bottom;
}
.table caption + thead tr:first-child th, .table caption + thead tr:first-child td, .table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
    border-top: 0 none;
}
.table tbody + tbody {
    border-top: 2px solid #DDDDDD;
}
.table-condensed th, .table-condensed td {
    padding: 4px 5px;
}
.table-bordered {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: separate;
    border-color: #DDDDDD #DDDDDD #DDDDDD -moz-use-text-color;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px 0;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #DDDDDD;
}
.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
    border-top: 0 none;
}
.table-bordered thead:first-child tr:first-child th:first-child, .table-bordered tbody:first-child tr:first-child td:first-child {
    border-top-left-radius: 4px;
}
.table-bordered thead:first-child tr:first-child th:last-child, .table-bordered tbody:first-child tr:first-child td:last-child {
    border-top-right-radius: 4px;
}
.table-bordered thead:last-child tr:last-child th:first-child, .table-bordered tbody:last-child tr:last-child td:first-child, .table-bordered tfoot:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}
.table-bordered thead:last-child tr:last-child th:last-child, .table-bordered tbody:last-child tr:last-child td:last-child, .table-bordered tfoot:last-child tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}
.table-bordered caption + thead tr:first-child th:first-child, .table-bordered caption + tbody tr:first-child td:first-child, .table-bordered colgroup + thead tr:first-child th:first-child, .table-bordered colgroup + tbody tr:first-child td:first-child {
    border-top-left-radius: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child, .table-bordered caption + tbody tr:first-child td:last-child, .table-bordered colgroup + thead tr:first-child th:last-child, .table-bordered colgroup + tbody tr:first-child td:last-child {
    border-top-right-radius: 4px;
}
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
    background-color: #F9F9F9;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #F5F5F5;
}
table [class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0;
}
table .span1 {
    float: none;
    margin-left: 0;
    width: 54px;
}
table .span2 {
    float: none;
    margin-left: 0;
    width: 144px;
}
table .span3 {
    float: none;
    margin-left: 0;
    width: 234px;
}
table .span4 {
    float: none;
    margin-left: 0;
    width: 324px;
}
table .span5 {
    float: none;
    margin-left: 0;
    width: 414px;
}
table .span6 {
    float: none;
    margin-left: 0;
    width: 504px;
}
table .span7 {
    float: none;
    margin-left: 0;
    width: 594px;
}
table .span8 {
    float: none;
    margin-left: 0;
    width: 684px;
}
table .span9 {
    float: none;
    margin-left: 0;
    width: 774px;
}
table .span10 {
    float: none;
    margin-left: 0;
    width: 864px;
}
table .span11 {
    float: none;
    margin-left: 0;
    width: 954px;
}
table .span12 {
    float: none;
    margin-left: 0;
    width: 1044px;
}
table .span13 {
    float: none;
    margin-left: 0;
    width: 1134px;
}
table .span14 {
    float: none;
    margin-left: 0;
    width: 1224px;
}
table .span15 {
    float: none;
    margin-left: 0;
    width: 1314px;
}
table .span16 {
    float: none;
    margin-left: 0;
    width: 1404px;
}
table .span17 {
    float: none;
    margin-left: 0;
    width: 1494px;
}
table .span18 {
    float: none;
    margin-left: 0;
    width: 1584px;
}
table .span19 {
    float: none;
    margin-left: 0;
    width: 1674px;
}
table .span20 {
    float: none;
    margin-left: 0;
    width: 1764px;
}
table .span21 {
    float: none;
    margin-left: 0;
    width: 1854px;
}
table .span22 {
    float: none;
    margin-left: 0;
    width: 1944px;
}
table .span23 {
    float: none;
    margin-left: 0;
    width: 2034px;
}
table .span24 {
    float: none;
    margin-left: 0;
    width: 2124px;
}
.table tbody tr.success td {
    background-color: #DFF0D8;
}
.table tbody tr.error td {
    background-color: #F2DEDE;
}
.table tbody tr.info td {
    background-color: #D9EDF7;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}
a [class^="icon-"], a [class*=" icon-"] {
    display: inline-block;
    text-decoration: inherit;
}
.icon-large:before {
    font-size: 1.33333em;
    vertical-align: middle;
}
li [class^="icon-"], li [class*=" icon-"] {
    display: inline-block;
    text-align: center;
    width: 1.25em;
}
li .icon-large:before, li .icon-large:before {
    width: 1.875em;
}
ul.icons {
    list-style-type: none;
    margin-left: 2em;
    text-indent: -0.8em;
}
ul.icons li [class^="icon-"], ul.icons li [class*=" icon-"] {
    width: 0.8em;
}
ul.icons li .icon-large:before, ul.icons li .icon-large:before {
    vertical-align: initial;
}
.well {
    background-color: #F5F5F5;
    border: 1px solid #E3E3E3;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}
.well blockquote {
    border-color: rgba(0, 0, 0, 0.15);
}
.well-large {
    border-radius: 6px 6px 6px 6px;
    padding: 24px;
}
.well-small {
    border-radius: 3px 3px 3px 3px;
    padding: 9px;
}
.fade {
    opacity: 0;
    transition: opacity 0.15s linear 0s;
}
.fade.in {
    opacity: 1;
}
.nav {
    list-style: none outside none;
    margin-bottom: 24.9231px;
    margin-left: 0;
}
.nav > li > a {
    display: block;
}
.nav > li > a:hover {
    background-color: #EEEEEE;
    text-decoration: none;
}
.nav > .pull-right {
    float: right;
}
.nav-header {
    color: #999999;
    display: block;
    font-size: 11px;
    font-weight: bold;
    line-height: 24.9231px;
    padding: 3px 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}
.nav li + .nav-header {
    margin-top: 9px;
}
.nav-list {
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
}
.nav-list > li > a, .nav-list .nav-header {
    margin-left: -15px;
    margin-right: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.nav-list > li > a {
    padding: 3px 15px;
}
.nav-list > .active > a, .nav-list > .active > a:hover {
    background-color: #993333;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.nav-list [class^="icon-"] {
    margin-right: 2px;
}
.nav-list .divider {
    background-color: #E5E5E5;
    border-bottom: 1px solid #FFFFFF;
    height: 1px;
    margin: 11.4615px 1px;
    overflow: hidden;
}
.nav-pills {
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li > a {
    margin-right: 0;
}
.nav > .disabled > a {
    color: #999999;
}
.nav > .disabled > a:hover {
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    text-decoration: none;
}
.breadcrumb {
    background-color: #F5F5F5;
    border-radius: 4px 4px 4px 4px;
    list-style: none outside none;
    margin: 0 0 24.9231px;
    padding: 8px 15px;
}
.breadcrumb li {
    display: inline-block;
    text-shadow: 0 1px 0 #FFFFFF;
}
.breadcrumb .divider {
    color: #CCCCCC;
    padding: 0 5px;
}
.breadcrumb .active {
    color: #999999;
}
.pager {
    list-style: none outside none;
    margin: 24.9231px 0;
    text-align: center;
}
.pager:before, .pager:after {
    content: "";
    display: table;
    line-height: 0;
}
.pager:after {
    clear: both;
}
.pager:before, .pager:after {
    content: "";
    display: table;
    line-height: 0;
}
.pager:after {
    clear: both;
}
.pager li {
    display: inline;
}
.pager a {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 5px 14px;
}
.pager a:hover {
    background-color: #F5F5F5;
    text-decoration: none;
}
.pager .next a {
    float: right;
}
.pager .previous a {
    float: left;
}
.pager .disabled a, .pager .disabled a:hover {
    background-color: #FFFFFF;
    color: #999999;
    cursor: default;
}
.label, .badge {
    background-color: #999999;
    color: #FFFFFF;
    font-size: 15.228px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    white-space: nowrap;
}
.label {
    border-radius: 3px 3px 3px 3px;
    padding: 1px 4px 2px;
}
.badge {
    border-radius: 9px 9px 9px 9px;
    padding: 1px 9px 2px;
}
a.label:hover, a.badge:hover {
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}
.label-important, .badge-important {
    background-color: #B94A48;
}
.label-important[href], .badge-important[href] {
    background-color: #953B39;
}
.label-warning, .badge-warning {
    background-color: #F89406;
}
.label-warning[href], .badge-warning[href] {
    background-color: #C67605;
}
.label-success, .badge-success {
    background-color: #468847;
}
.label-success[href], .badge-success[href] {
    background-color: #356635;
}
.label-info, .badge-info {
    background-color: #3A87AD;
}
.label-info[href], .badge-info[href] {
    background-color: #2D6987;
}
.label-inverse, .badge-inverse {
    background-color: #333333;
}
.label-inverse[href], .badge-inverse[href] {
    background-color: #1A1A1A;
}
.hero-unit {
    background-color: #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 30px;
    padding: 60px;
}
.hero-unit h1 {
    color: inherit;
    font-size: 60px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 0;
}
.hero-unit p {
    color: inherit;
    font-size: 18px;
    font-weight: 200;
    line-height: 37.3846px;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
.affix {
    position: fixed;
}
.clearfix {
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}
.clearfix:after {
    clear: both;
}
.hide-text {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    color: rgba(0, 0, 0, 0);
    font: 0px/0 a;
    text-shadow: none;
}
.hidden {
    display: none;
    visibility: hidden;
}
.visible-phone {
    display: none !important;
}
.visible-tablet {
    display: none !important;
}
.hidden-desktop {
    display: none !important;
}
.visible-desktop {
    display: inherit !important;
}
@media (min-width: 768px) and (max-width: 979px) {
.hidden-desktop {
    display: inherit !important;
}
.visible-desktop {
    display: none !important;
}
.visible-tablet {
    display: inherit !important;
}
.hidden-tablet {
    display: none !important;
}
}
@media (max-width: 767px) {
.hidden-desktop {
    display: inherit !important;
}
.visible-desktop {
    display: none !important;
}
.visible-phone {
    display: inherit !important;
}
.hidden-phone {
    display: none !important;
}
}
@media (min-width: 1200px) {
.row {
    margin-left: -30px;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 30px;
}
.container {
    width: 1170px;
}
.span12 {
    width: 1170px;
}
.span11 {
    width: 1070px;
}
.span10 {
    width: 970px;
}
.span9 {
    width: 870px;
}
.span8 {
    width: 770px;
}
.span7 {
    width: 670px;
}
.span6 {
    width: 570px;
}
.span5 {
    width: 470px;
}
.span4 {
    width: 370px;
}
.span3 {
    width: 270px;
}
.span2 {
    width: 170px;
}
.span1 {
    width: 70px;
}
.offset12 {
    margin-left: 1230px;
}
.offset11 {
    margin-left: 1130px;
}
.offset10 {
    margin-left: 1030px;
}
.offset9 {
    margin-left: 930px;
}
.offset8 {
    margin-left: 830px;
}
.offset7 {
    margin-left: 730px;
}
.offset6 {
    margin-left: 630px;
}
.offset5 {
    margin-left: 530px;
}
.offset4 {
    margin-left: 430px;
}
.offset3 {
    margin-left: 330px;
}
.offset2 {
    margin-left: 230px;
}
.offset1 {
    margin-left: 130px;
}
.row {
    margin-left: -30px;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 30px;
}
.container {
    width: 1170px;
}
.span12 {
    width: 1170px;
}
.span11 {
    width: 1070px;
}
.span10 {
    width: 970px;
}
.span9 {
    width: 870px;
}
.span8 {
    width: 770px;
}
.span7 {
    width: 670px;
}
.span6 {
    width: 570px;
}
.span5 {
    width: 470px;
}
.span4 {
    width: 370px;
}
.span3 {
    width: 270px;
}
.span2 {
    width: 170px;
}
.span1 {
    width: 70px;
}
.offset12 {
    margin-left: 1230px;
}
.offset11 {
    margin-left: 1130px;
}
.offset10 {
    margin-left: 1030px;
}
.offset9 {
    margin-left: 930px;
}
.offset8 {
    margin-left: 830px;
}
.offset7 {
    margin-left: 730px;
}
.offset6 {
    margin-left: 630px;
}
.offset5 {
    margin-left: 530px;
}
.offset4 {
    margin-left: 430px;
}
.offset3 {
    margin-left: 330px;
}
.offset2 {
    margin-left: 230px;
}
.offset1 {
    margin-left: 130px;
}
}
@media (min-width: 768px) and (max-width: 979px) {
.row {
    margin-left: -20px;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
}
.container {
    width: 724px;
}
.span12 {
    width: 724px;
}
.span11 {
    width: 662px;
}
.span10 {
    width: 600px;
}
.span9 {
    width: 538px;
}
.span8 {
    width: 476px;
}
.span7 {
    width: 414px;
}
.span6 {
    width: 352px;
}
.span5 {
    width: 290px;
}
.span4 {
    width: 228px;
}
.span3 {
    width: 166px;
}
.span2 {
    width: 104px;
}
.span1 {
    width: 42px;
}
.offset12 {
    margin-left: 764px;
}
.offset11 {
    margin-left: 702px;
}
.offset10 {
    margin-left: 640px;
}
.offset9 {
    margin-left: 578px;
}
.offset8 {
    margin-left: 516px;
}
.offset7 {
    margin-left: 454px;
}
.offset6 {
    margin-left: 392px;
}
.offset5 {
    margin-left: 330px;
}
.offset4 {
    margin-left: 268px;
}
.offset3 {
    margin-left: 206px;
}
.offset2 {
    margin-left: 144px;
}
.offset1 {
    margin-left: 82px;
}
.row {
    margin-left: -20px;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
[class*="span"] {
    float: left;
    margin-left: 20px;
}
.container {
    width: 724px;
}
.span12 {
    width: 724px;
}
.span11 {
    width: 662px;
}
.span10 {
    width: 600px;
}
.span9 {
    width: 538px;
}
.span8 {
    width: 476px;
}
.span7 {
    width: 414px;
}
.span6 {
    width: 352px;
}
.span5 {
    width: 290px;
}
.span4 {
    width: 228px;
}
.span3 {
    width: 166px;
}
.span2 {
    width: 104px;
}
.span1 {
    width: 42px;
}
.offset12 {
    margin-left: 764px;
}
.offset11 {
    margin-left: 702px;
}
.offset10 {
    margin-left: 640px;
}
.offset9 {
    margin-left: 578px;
}
.offset8 {
    margin-left: 516px;
}
.offset7 {
    margin-left: 454px;
}
.offset6 {
    margin-left: 392px;
}
.offset5 {
    margin-left: 330px;
}
.offset4 {
    margin-left: 268px;
}
.offset3 {
    margin-left: 206px;
}
.offset2 {
    margin-left: 144px;
}
.offset1 {
    margin-left: 82px;
}
}
@media (max-width: 767px) {
body {
    padding-left: 20px;
    padding-right: 20px;
}
.dl-horizontal dt {
    clear: none;
    float: none;
    text-align: left;
    width: auto;
}
.dl-horizontal dd {
    margin-left: 0;
}
.container {
    width: auto;
}
.row {
    margin-left: 0;
}
[class*="span"] {
    display: block;
    float: none;
    margin-left: 0;
    width: auto;
}
.span12 {
    -moz-box-sizing: border-box;
    width: 100%;
}
}
@media (max-width: 480px) {
.page-header h1 small {
    display: block;
    line-height: 24.9231px;
}
.form-horizontal .form-actions {
    padding-left: 10px;
    padding-right: 10px;
}
}
@media (max-width: 979px) {
body {
    padding-top: 0;
}
}
h1, h2, h3, h4, h5, h6 {
}
nav a:hover {
}
.breadcrumb {
    font-size: 13px;
    line-height: 13.68px;
}
.breadcrumb {
    padding: 3px 14px;
}
.breadcrumb li {
    line-height: 24.9231px;
}
li {
    line-height: 37.3846px;
}
#disqus_thread {
    font-size: 13px;
    line-height: 18px;
}
html {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
}
.icon-white {
    opacity: 0.5;
}
.subnav-fixed {
    border-color: #D5D5D5;
    border-radius: 4px 4px 4px 4px;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 999;
}
.subnav {
    background-color: #F2F2F2;
    background-image: linear-gradient(to bottom, #F5F5F5, #EEEEEE);
    background-repeat: repeat-x;
    border: 1px solid #E5E5E5;
    border-radius: 4px 4px 4px 4px;
    height: 31px;
    width: 100%;
}
#page {
    padding-top: 120px;
}
#page .article-header .date {
    border: 1px solid #999999;
    display: inline-block;
    text-align: center;
    width: 3em;
}
#page .article-header .date a {
    color: rgba(153, 51, 51, 0.5);
    display: block;
}
#page .article-header .date .date-d {
    font-size: 1.5em;
}
#page .article-header .date .date-m {
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
}
#page .article-header .date .date-y {
    background: none repeat scroll 0 0 #999999;
    font-size: 1em;
    font-weight: bolder;
}
#page .article-header .pager {
    margin-bottom: 0;
    margin-top: 24.9231px;
}
#page .article-content .outline-1 {
    margin-left: 1em;
}
#page .article-content .outline-2 {
    margin-left: 2em;
}
#page .article-content .outline-3 {
    margin-left: 3em;
}
#page .article-content .outline-4 {
    margin-left: 4em;
}
#page .article-content .outline-5 {
    margin-left: 5em;
}
#page .article-content .outline-6 {
    margin-left: 6em;
}
#page .article-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#page .article-content .show-grid [class*="span"] {
    background-color: #EEEEEE;
    border-radius: 3px 3px 3px 3px;
}
#page .article-content .show-grid [class*="span"] .show-grid [class*="span"] {
    background-color: #D5D5D5;
}
#page .article-content .show-grid [class*="span"] .show-grid [class*="span"] .show-grid [class*="span"] {
    background-color: #BBBBBB;
}
#page .article-content .o-blog-source {
    display: inline-block;
}
#page .article-content #footnotes {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    font-size: 75%;
    margin-bottom: 24.9231px;
    min-height: 24.9231px;
    padding-left: 24.9231px;
    padding-right: 24.9231px;
}
#page .article-content #footnotes h2.footnotes {
    font-size: 90%;
}
#page .article-content #footnotes div.text-footnotes p {
    font-size: 90%;
}
#page pre.src, #page pre.example {
    background: none repeat scroll 0 0 #2E3436;
    border: 1px solid #EEEEEE;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    color: #EEEEEC;
    overflow: auto;
    resize: both;
}
#page pre.src span.linenr, #page pre.example span.linenr {
    font-style: italic;
    font-weight: bold;
}
#page pre.src span.code-highlighted, #page pre.example span.code-highlighted {
    background: none repeat scroll 0 0 #556B2F;
}
#page nav.tags ul {
    font-size: 350%;
    line-height: 2;
    margin: 2em auto;
    text-align: center;
}
#page nav.tags ul li {
    display: inline;
}
#page .article-footer.well {
    background: none repeat scroll 0 0 #F8F8F8;
}
#page .article-footer.well h1 {
    font-size: 1em;
    margin: 0;
}
#page .article-footer.well .tag-cloud ul {
    margin-bottom: 0;
}
#page .article-footer.well .tag-cloud ul li {
    display: inline;
    font-size: 10.4px;
    line-height: 16.56px;
    margin-left: 0.5em;
    padding-right: 0.5em;
}
#page .article-footer.well .tag-cloud ul li a {
    color: #F8F8F8;
}
#page .article-footer.well .tag-cloud ul li a:hover {
}
#footer {
    background-color: #171717;
    background-image: linear-gradient(to bottom, #262626, #000000);
    background-repeat: repeat-x;
    color: #505050;
    font-size: 11.05px;
    line-height: 17.1px;
    padding-top: 54px;
}
#footer a {
    color: #7B7B7B;
}
#footer h1 {
    color: #025577;
}
#footer h1 a {
    color: #025577;
}
#footer h1 a:hover {
}
#footer .copyright {
    margin-top: 3em;
    opacity: 0.35;
}
#footer .copyright p {
    font-size: 80%;
}
#footer ul {
    list-style-type: none;
    margin: 0;
}
#footer ul li {
    font-size: 11.05px;
    line-height: 17.1px;
}
#footer nav.tags ul {
    font-size: 100%;
    line-height: 2;
    margin: 2em auto;
    text-align: center;
}
#footer nav.tags ul li {
    display: inline;
}
.multicolumn3 {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
}
#toc a {
    font-size: 75%;
    line-height: 15px;
}
